{% extends 'base.html' %}


{% block body %}

<!--中间内容-->

    <div class="row">
        <!--左边菜单-->
        <div class="col-md-2">
            {% include "_menu.html" %}
        </div>
        <!--右边内容-->
        <div class="col-md-10">
            <ol class="breadcrumb">
                <li><a href="{{ url_for('main.index') }}"><span class="glyphicon glyphicon-home ice" aria-hidden="true"></span>任务大厅</a></li>
                <li class="active">用户信息</li>
            </ol>
            <!--右边内容-->
            <div class="con">
                <div class="list-con">
                    <h4><i class="glyphicon glyphicon-tag"></i> 用户信息</h4>
                </div>

                <hr  style="border: 1px solid #ff0000">
                <div class="con-text" style="border:1px solid #f5e79e;">
                    <!--右边内容列表-->
                    <div class="col-md-4 col-md-offset-3">
                        <form id='reg_user' class="form-group" action="#" method="post">
                                <div class="form-group">
                                    <label for="">姓名</label>
                                    <input id="username" class="form-control" name="username" type="text"  value="{{ current_user.username  }}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="">新密码</label>
                                    <input id="password" class="form-control" name="password" type="password" placeholder="至少6位字母或数字">
                                </div>
                                <div class="text-right">
                                    <button id='upSubmit' class="btn btn-primary " type="submit">更新</button>
                                </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block js_script %}
    <script type="application/javascript">
        $(document).ready(function(){


        });
    </script>
{% endblock %}