<div class="list-group">
    <a href="{{ url_for('main.index') }}" class="list-group-item active" ><span class="glyphicon glyphicon-home ice" aria-hidden="true"></span>首页</a>
    {% if session.user.node.has_key(1)%}
        <a href="#" class="list-group-item active"><i class="glyphicon glyphicon-user ice" aria-hidden="true"></i>用户管理</a>
        {% if session.user.node.has_key(2) %}
            <a href="{{ url_for('main.user') }}" class="list-group-item">用户管理</a>
        {% endif %}
{#        <a href="#" class="list-group-item">部门管理</a>#}
    {% endif %}
    {% if session.user.node.has_key(6)%}
        <a href="{{ url_for('main.index') }}" class="list-group-item active"><i class="glyphicon glyphicon-wrench ice" aria-hidden="true"></i>任务大厅</a>
    {% endif %}
    {% if session.user.node.has_key(6)%}
        <a href="{{ url_for('main.add_task') }}" class="list-group-item">发布任务</a>
    {% endif %}
{#    <a href="#" class="list-group-item">我的任务</a>#}
{#    <a href="#" class="list-group-item">我发起的任务</a>#}
{#    <a href="#" class="list-group-item">任务回收站</a>#}
{#    <a href="#" class="list-group-item active"><i class="glyphicon glyphicon-wrench ice" aria-hidden="true"></i>项目管理</a>#}
{#    <a href="#" class="list-group-item">项目列表</a>#}
{#    <a href="#" class="list-group-item">发布项目</a>#}
{#    <a href="#" class="list-group-item">项目回收站</a>#}
</div>