<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>任务管理系统</title>
    {% endblock %}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script type="application/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='js/additional-methods.min.js') }}"></script>

</head>
<body style="padding-bottom: 70px;">
<div class="container-fluid">
{% block navbar %}
<!--顶部菜单栏-->
<div class="row">

    <div class="navbar navbar-default">
        <div class="col-md-8">
            <div class="logo text-primary">任务管理系统</div>
        </div>
        <div class="col-md-3">
            <div class="navbar-right logo-user">
                {% if current_user.is_authenticated %}
                    欢迎您：<a href="{{ url_for('main.my_info') }}">{{ current_user.username }}</a>
                    <a href="{{ url_for('auth.logout') }}">退出登录</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
<!-- 页脚  -->
<div class="row">
<div class="navbar navbar-default navbar-fixed-bottom">
    <ul>
{#            <li class="text-center">页脚</li>#}
    </ul>
</div>
</div>
{% endblock %}
{# js脚本#}
{% block js_script %}
{% endblock %}
</div>
</body>
</html>